---
  - name: box-1
    role: web-server
    box: ubuntu/trusty64
    cpus: 2
    memory: 1024
    ip: 192.168.56.4
    web-root: "/var/web-project/build"
    sync:
      - source: '../react-es6-watchify/'
        target: '/var/web-project'